.contactList {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.contactLink {
    font-size: 1.4rem;
    color: rgb(25, 24, 26);
    text-decoration: none;
    transition: all ease-in 0.1s;
}

.contactElement:not(:first-child)::before {
    content: "|";
    font-weight: 400;
    padding: 0 5px;
    font-size: 1.2rem;
}